<div class="row post mt-4">
      <div class="col-12">
        <h2 class="text-capitalize">Articles récents</h2>
        <hr>
        <div class="row post mb-1">
          <div class="col-12">
            <h4 class="latest"><a href="#" class="username">lorem ipsum title</a></h4>
          </div>
        </div>
      </div>
    </div>
