{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <div class="col-sm-7 mt-4 mx-4">
    <div class="row post mb-1">
      <div class="col-12">
        <h2 class="text-capitalize"></h2>
        <p class="added"><a href="#" class="username">Haris</a></p>
        <p></p>
        <a href="#" class="btn btn-default float-left text-capitalize">Lire la suite</a>
      </div>
    </div>
  </div>





{% endblock %}
